.home-background {
    height: 100vh;
    background: linear-gradient(to right, #434343 0%, black 100%);
}

.container {
    background: linear-gradient(to right, #434343 0%, black 100%);
}

.text-white {
    color: white;
}

.something {
    display: flex;
}

.white-line{
    margin-left: 5px;
    margin-right: 5px;
    color: white;
    height: "4px",
}
.movie-poster {
    width: 15em;
    height: 18em;
    margin-left: 5px;
    margin-right: 5px;
}

.review-poster {
    width: 8em;
    height: 11em;
}

.top-padding {
    padding-top: 30px;
}

.side-padding {
    padding-left: 40px;
    padding-right: 40px;
}

.review-username {
    font-size: smaller;
}

.something {
    display: flex
}

.list-settings {
    margin-left: 50px;
    margin-right: 50px;
    /* background-color: black; */
    border-style: none !important;
}


  .som {
    background-color: rgb(29, 28, 28)  !important; 
    margin-top: 5px;
    margin-bottom: 5px;
    border-radius: 10px !important; 
    border-color: none;
  }