.home-background {
    height: 100vh;
    background: linear-gradient(to right, #434343 0%, black 100%);
}

.searchTitle {
    color: black;
    text-decoration: none;
}

.searchYear {
    color:gray;
    font-style: italic;
}