.page {
    height: 100%;
    background: linear-gradient(to right, #434343 0%, black 100%);
}

.page .p{
    color: white;
    
}

.profile {
    color: white;
    text-align: center;
    /* background-color: black; */
    /* padding-left: 15px; */
    /* margin-left: 20px;  */
}

.margin-left {
        margin-left: 15px; 

}

.counts {
    font-size: large;
    font-weight: bold;
}

.margin-top {
    margin-top: 5px;
}


/*.card-body p{*/
/*    color: white;*/
/*}*/
