.page {
    height: 100vh;
    background: linear-gradient(to right, #434343 0%, black 100%);
}

.page .p{
    color: white;
    
}

.profile {
    color: white;
    text-align: center;
    /* background-color: black; */
    /* padding-left: 15px; */
    /* margin-left: 20px;  */
}

.margin-left {
        margin-left: 15px; 

}

.counts {
    font-size: large;
    font-weight: bold;
}

.margin-top {
    margin-top: 5px;
}

.movieList {
    display: flex;
    flex-direction: column; /* or row, depending on the layout */
}

/* To make the content fill the available space */
.movieList > * {
    flex: 1; /* This will make the content fill the available space */
}

.review-list{
    background: linear-gradient(to right, #434343 0%, black 100%);

}


/*.card-body p{*/
/*    color: white;*/
/*}*/
